/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2017, 11:22:09 AM
    Author     : Work
*/

h1{
    font-family: Helvetica;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}
h2{
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
}
h3 {
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}
h4{
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 23px;
}
p {
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
} 
blockquote{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
} 
pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px; 
}
body{
    text-align: left;
    margin-left: 15.5%;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 23px;
}
#headerblock{
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #91dabd;
    width: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#footerblock{
    display: inline-block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #91dabd;
    width: 15%;
    height: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.container{
    display: inline-block;
    position: relative;
    max-width: 200px;
    min-width: 128px;
}
.containerbig{
    display: inline-block;
    position: relative;
    max-width: 800px;
    min-width: 128px;
}
.image{
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 200px;
    min-width: 128px;
}
.imagebig{
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 512px;
    min-width: 128px;
}
.imageport{
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 128px;
}
.overlay, .overlaybig{
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #91dabd; 
}
.container:hover .overlay {
    opacity: 1;
}
.containerbig:hover .overlaybig{
    opacity: 1;
}
.overlaytext, .overlaytextbig{
    color: white;
    opacity: 1;
    font-size: 1.5em;
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#various{
    margin-top: 1%;
}
.projecttitle{
    background-color: #91dabd;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-top: -1%;
}
.videowrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    background-color: black;
}
.videowrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 115%;
    height: 100%;
}
header{
    color: white;
    margin-left: 2.5%;
    text-align: left;
}
.projectsectiontitle{
    background-color: white;
    color: black;
    padding-top: 0.1%;
    /*    padding-left: 1%;*/
    padding-bottom: 1%;
    margin-top: 0.5%;
    width: 85%;
}
.projectsectiontitle h2, .projectextrasection h2{
    color: black;
}
.projectextrasection{
    background-color: white;
    color: black;
    text-align: left;
    padding-top: 1%;
    /*    padding-left: 1%;*/
    padding-bottom: 1%;
    margin-top: 0.5%;
    width: 85%;
}
section h3{
    text-align: left;
    margin-left: 2.5%;
    color: white;
}
section h2{
    text-align: left;
    color: white;
}
footer{
    text-align: center;
}
nav {
    margin:0 auto;
    padding:0;
    list-style: none;
    text-align:left;
    font-size: 1.2em;
    display: inline-block;
    margin-left:  2.5%;
    color: white;
}
nav a {
    text-align:center;
    padding:15px 0 15px 0;
    margin:0;
    display:block;
    width: 100px;
    display: inline-block;
    text-decoration: none;
}
nav a:link{
    color: #91dabd;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    margin: 5px;
}
nav a:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    margin: 5px;
}
nav a:hover {
    opacity: 0.7;
    border:none;
    text-decoration: none;
}
nav a:active{
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    margin: 5px;
}
.fa{
    padding: 10px;
    font-size: 1.375em;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook, .fa-instagram, .fa-linkedin, .fa-twitter, .fa-vimeo, .fa-youtube, .fa-cube, .fa-external-link, .fa-shopping-cart{
    color: white;
    height: 35px;
    width: 35px;
}
/* Fixed sidenav, full height */
.sidenav {
    height: 70%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #91dabd;
    overflow-x: hidden;
    padding-top: 20px;
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding-left: 7.5%;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.sidenav h1, h3{
    margin-left: 7.5%;
    color: white;
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    opacity: 0.8;
}
/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 8px; /* Increased text to enable scrolling */
    /*  padding: 0px 10px;*/
}
/* Add an active class to the active dropdown button */
.active {
    background-color: #22cc89;
    color: white;
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #7dd3b1;
}
/*container for introduction video and image on homepage.*/
#introcontainer{
    background-color: #7dd3b1;
    height: auto;
    width: 100%;
    max-height: 440px;
}
#introcontainer img video{
    height: auto;
    max-height: 440px;
    min-width: 440px;
    max-width: 440px;
    min-height: 440px;
}
#introcontainer img{
    width: 30%;
}